NCBI_API_KEY=
NCBI_TOOL_EMAIL=
SEMANTIC_SCHOLAR_API_KEY=
ENABLE_SEMANTIC_SCHOLAR=true
ENABLE_OFFICIAL_HEALTH_APIS=true
ENABLE_CRAWL4AI=true
ENABLE_CRAWL4AI_BROWSER=false
CRAWL_ALLOWED_DOMAINS=health.go.ug,library.health.go.ug,cphl.go.ug,differentiatedservicedelivery.org,who.int,iris.who.int,cdc.gov,stacks.cdc.gov,nih.gov,ncbi.nlm.nih.gov,idsociety.org,medicalguidelines.msf.org,nice.org.uk,ecdc.europa.eu,africacdc.org,unaids.org,paho.org,aafp.org
CRAWL_SOURCE_CATALOG_PATH=
CRAWL_MAX_SOURCES=6
CRAWL_MAX_PAGES=10
CRAWL_SEARCH_PAGES_PER_SOURCE=1
CRAWL_TIME_BUDGET_SECONDS=8
RETRIEVAL_TIME_BUDGET_SECONDS=10
REQUEST_TIMEOUT_SECONDS=20
MAX_RESULTS_PER_PROVIDER=10
